body {
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-color: black;
}

img {
  width: 10px;
  // position: relative;
  // top: -50px;
}
.snow__wrapper {
  display: flex;
}
.snow2__wrapper {
  display: flex;
  flex-direction: row-reverse;
}
.snow3__wrapper {
  display: flex;
  gap: 5px;
}
.snow4__wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

@keyframes snows {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatex(50px);
  }

  70% {
    transform: translatex(200px);
  }
  100% {
    transform: translatey(110vh);
  }
}

@for $c from 1 to 110 {
  .img-snow#{$c} {
    animation: snows 3s $c * 0.1s infinite linear;
  }
}
