body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-color: black;
}

img {
  width: 10px;
}

.snow__wrapper {
  display: flex;
}

.snow2__wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.snow3__wrapper {
  display: flex;
  gap: 5px;
}

.snow4__wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}

@keyframes snows {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatex(50px);
  }
  70% {
    transform: translatex(200px);
  }
  100% {
    transform: translatey(110vh);
  }
}
.img-snow1 {
  animation: snows 3s 0.1s infinite linear;
}

.img-snow2 {
  animation: snows 3s 0.2s infinite linear;
}

.img-snow3 {
  animation: snows 3s 0.3s infinite linear;
}

.img-snow4 {
  animation: snows 3s 0.4s infinite linear;
}

.img-snow5 {
  animation: snows 3s 0.5s infinite linear;
}

.img-snow6 {
  animation: snows 3s 0.6s infinite linear;
}

.img-snow7 {
  animation: snows 3s 0.7s infinite linear;
}

.img-snow8 {
  animation: snows 3s 0.8s infinite linear;
}

.img-snow9 {
  animation: snows 3s 0.9s infinite linear;
}

.img-snow10 {
  animation: snows 3s 1s infinite linear;
}

.img-snow11 {
  animation: snows 3s 1.1s infinite linear;
}

.img-snow12 {
  animation: snows 3s 1.2s infinite linear;
}

.img-snow13 {
  animation: snows 3s 1.3s infinite linear;
}

.img-snow14 {
  animation: snows 3s 1.4s infinite linear;
}

.img-snow15 {
  animation: snows 3s 1.5s infinite linear;
}

.img-snow16 {
  animation: snows 3s 1.6s infinite linear;
}

.img-snow17 {
  animation: snows 3s 1.7s infinite linear;
}

.img-snow18 {
  animation: snows 3s 1.8s infinite linear;
}

.img-snow19 {
  animation: snows 3s 1.9s infinite linear;
}

.img-snow20 {
  animation: snows 3s 2s infinite linear;
}

.img-snow21 {
  animation: snows 3s 2.1s infinite linear;
}

.img-snow22 {
  animation: snows 3s 2.2s infinite linear;
}

.img-snow23 {
  animation: snows 3s 2.3s infinite linear;
}

.img-snow24 {
  animation: snows 3s 2.4s infinite linear;
}

.img-snow25 {
  animation: snows 3s 2.5s infinite linear;
}

.img-snow26 {
  animation: snows 3s 2.6s infinite linear;
}

.img-snow27 {
  animation: snows 3s 2.7s infinite linear;
}

.img-snow28 {
  animation: snows 3s 2.8s infinite linear;
}

.img-snow29 {
  animation: snows 3s 2.9s infinite linear;
}

.img-snow30 {
  animation: snows 3s 3s infinite linear;
}

.img-snow31 {
  animation: snows 3s 3.1s infinite linear;
}

.img-snow32 {
  animation: snows 3s 3.2s infinite linear;
}

.img-snow33 {
  animation: snows 3s 3.3s infinite linear;
}

.img-snow34 {
  animation: snows 3s 3.4s infinite linear;
}

.img-snow35 {
  animation: snows 3s 3.5s infinite linear;
}

.img-snow36 {
  animation: snows 3s 3.6s infinite linear;
}

.img-snow37 {
  animation: snows 3s 3.7s infinite linear;
}

.img-snow38 {
  animation: snows 3s 3.8s infinite linear;
}

.img-snow39 {
  animation: snows 3s 3.9s infinite linear;
}

.img-snow40 {
  animation: snows 3s 4s infinite linear;
}

.img-snow41 {
  animation: snows 3s 4.1s infinite linear;
}

.img-snow42 {
  animation: snows 3s 4.2s infinite linear;
}

.img-snow43 {
  animation: snows 3s 4.3s infinite linear;
}

.img-snow44 {
  animation: snows 3s 4.4s infinite linear;
}

.img-snow45 {
  animation: snows 3s 4.5s infinite linear;
}

.img-snow46 {
  animation: snows 3s 4.6s infinite linear;
}

.img-snow47 {
  animation: snows 3s 4.7s infinite linear;
}

.img-snow48 {
  animation: snows 3s 4.8s infinite linear;
}

.img-snow49 {
  animation: snows 3s 4.9s infinite linear;
}

.img-snow50 {
  animation: snows 3s 5s infinite linear;
}

.img-snow51 {
  animation: snows 3s 5.1s infinite linear;
}

.img-snow52 {
  animation: snows 3s 5.2s infinite linear;
}

.img-snow53 {
  animation: snows 3s 5.3s infinite linear;
}

.img-snow54 {
  animation: snows 3s 5.4s infinite linear;
}

.img-snow55 {
  animation: snows 3s 5.5s infinite linear;
}

.img-snow56 {
  animation: snows 3s 5.6s infinite linear;
}

.img-snow57 {
  animation: snows 3s 5.7s infinite linear;
}

.img-snow58 {
  animation: snows 3s 5.8s infinite linear;
}

.img-snow59 {
  animation: snows 3s 5.9s infinite linear;
}

.img-snow60 {
  animation: snows 3s 6s infinite linear;
}

.img-snow61 {
  animation: snows 3s 6.1s infinite linear;
}

.img-snow62 {
  animation: snows 3s 6.2s infinite linear;
}

.img-snow63 {
  animation: snows 3s 6.3s infinite linear;
}

.img-snow64 {
  animation: snows 3s 6.4s infinite linear;
}

.img-snow65 {
  animation: snows 3s 6.5s infinite linear;
}

.img-snow66 {
  animation: snows 3s 6.6s infinite linear;
}

.img-snow67 {
  animation: snows 3s 6.7s infinite linear;
}

.img-snow68 {
  animation: snows 3s 6.8s infinite linear;
}

.img-snow69 {
  animation: snows 3s 6.9s infinite linear;
}

.img-snow70 {
  animation: snows 3s 7s infinite linear;
}

.img-snow71 {
  animation: snows 3s 7.1s infinite linear;
}

.img-snow72 {
  animation: snows 3s 7.2s infinite linear;
}

.img-snow73 {
  animation: snows 3s 7.3s infinite linear;
}

.img-snow74 {
  animation: snows 3s 7.4s infinite linear;
}

.img-snow75 {
  animation: snows 3s 7.5s infinite linear;
}

.img-snow76 {
  animation: snows 3s 7.6s infinite linear;
}

.img-snow77 {
  animation: snows 3s 7.7s infinite linear;
}

.img-snow78 {
  animation: snows 3s 7.8s infinite linear;
}

.img-snow79 {
  animation: snows 3s 7.9s infinite linear;
}

.img-snow80 {
  animation: snows 3s 8s infinite linear;
}

.img-snow81 {
  animation: snows 3s 8.1s infinite linear;
}

.img-snow82 {
  animation: snows 3s 8.2s infinite linear;
}

.img-snow83 {
  animation: snows 3s 8.3s infinite linear;
}

.img-snow84 {
  animation: snows 3s 8.4s infinite linear;
}

.img-snow85 {
  animation: snows 3s 8.5s infinite linear;
}

.img-snow86 {
  animation: snows 3s 8.6s infinite linear;
}

.img-snow87 {
  animation: snows 3s 8.7s infinite linear;
}

.img-snow88 {
  animation: snows 3s 8.8s infinite linear;
}

.img-snow89 {
  animation: snows 3s 8.9s infinite linear;
}

.img-snow90 {
  animation: snows 3s 9s infinite linear;
}

.img-snow91 {
  animation: snows 3s 9.1s infinite linear;
}

.img-snow92 {
  animation: snows 3s 9.2s infinite linear;
}

.img-snow93 {
  animation: snows 3s 9.3s infinite linear;
}

.img-snow94 {
  animation: snows 3s 9.4s infinite linear;
}

.img-snow95 {
  animation: snows 3s 9.5s infinite linear;
}

.img-snow96 {
  animation: snows 3s 9.6s infinite linear;
}

.img-snow97 {
  animation: snows 3s 9.7s infinite linear;
}

.img-snow98 {
  animation: snows 3s 9.8s infinite linear;
}

.img-snow99 {
  animation: snows 3s 9.9s infinite linear;
}

.img-snow100 {
  animation: snows 3s 10s infinite linear;
}

.img-snow101 {
  animation: snows 3s 10.1s infinite linear;
}

.img-snow102 {
  animation: snows 3s 10.2s infinite linear;
}

.img-snow103 {
  animation: snows 3s 10.3s infinite linear;
}

.img-snow104 {
  animation: snows 3s 10.4s infinite linear;
}

.img-snow105 {
  animation: snows 3s 10.5s infinite linear;
}

.img-snow106 {
  animation: snows 3s 10.6s infinite linear;
}

.img-snow107 {
  animation: snows 3s 10.7s infinite linear;
}

.img-snow108 {
  animation: snows 3s 10.8s infinite linear;
}

.img-snow109 {
  animation: snows 3s 10.9s infinite linear;
}/*# sourceMappingURL=sass.css.map */